@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --primary-color: #2B2B2B;
  --primary-color-dark: ;
  --text-light: #ffffff;
  --text-dark: #B9B9B9;
  --max-width: 1200px;
  --header-font: "Bebas Neue", sans-serif;
  --background-color: #1B1C1E;
  --currentnav-color: #4D4D4D;
  --leftAisle-color: #F9A537;
  --upperContent-color: #00ACA4;
  --lowerContent-color: #DC5754;
  --rightAisle-color: #8A56C2;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin: 0;
  padding: 0 0 0.75rem 0;
  text-align: center;
}

h2 {
  font-weight: lighter;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-light);
  background-color: var(--background-color);
  padding: 4rem 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.25rem;
}

.home-container{
  width: 53.625rem;
  height: 44.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.header-container{
  width: 53.625rem;
  height: 9.938rem;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.header-info {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--primary-color);
}

#logo{
  width: 7rem;
  height: 7rem;
  background-image: url('logo.svg');
}

.title-section {
  display: flex;              
  flex-direction: column;    
  align-items: center;      
  margin: 0;               
  padding: 0;            
}             

#title-name {
  font-size: 3.25rem;
  text-align: center;
  font-weight: extrabold;
  letter-spacing: 0.3rem; 
  margin: 0;               
  padding: 0;   
}

.content-container{
  width: 53.625rem;
  height: 21.75rem;
  display: flex;
  gap: 1.5rem;
}

.left-aisle-container{
  width: 14.875rem;
  height: 21.75rem;
  border-radius: 1.25rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: var(--leftAisle-color);
  box-sizing: border-box;
}

.tech-section {
  margin: 0;
  padding: 0;
  width: 11.688rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.tech-stack {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.info-container{
  width: 20.875rem;
  height: 21.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.upper-content-container{
  width: 20.875rem;
  height: 10.125rem;
  border-radius: 1.25rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--upperContent-color);
}

.upper-content-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.lower-content-container{
  width: 20.875rem;
  height: 10.125rem;
  border-radius: 1.25rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lowerContent-color);
}

.lower-content-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.right-aisle-container{
  width: 14.875rem;
  height: 21.75rem;
  border-radius: 1.25rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: var(--rightAisle-color);
  box-sizing: border-box;
}

.footer-container{
  width: 53.625rem;
  height: 9.938rem;
  border-radius: 1.25rem;
  display: flex;           
  justify-content: center;  
  align-items: center;
  background-color: var(--primary-color);
}

.team-names {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 2.75rem;
  display: flex;           
  justify-content: center;  
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
#profile {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;   
  background-color: var(--currentnav-color);
}

/* Animations */
.header-container,
.left-aisle-container,
.upper-content-container,
.lower-content-container,
.right-aisle-container,
.footer-container {
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
}

@keyframes slide-in-left {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

/* Add the class for applying animations */
.slide-in-left {
  animation: slide-in-left 0.5s forwards; /* Adjust duration as needed */
}

.slide-in-right {
  animation: slide-in-right 0.5s forwards; /* Adjust duration as needed */
}

.slide-in-top {
  animation: slide-in-top 0.5s forwards; /* Adjust duration as needed */
}

.slide-in-bottom {
  animation: slide-in-bottom 0.5s forwards; /* Adjust duration as needed */
}
